

.encabezado{
    background-color: rgb(35, 21, 240);
}



.menu1{
    
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


 

.contenido{
     
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 5px;
    margin-bottom: 10px;
}

.formulario1{
    color: whitesmoke;
    background-color:rgb(35, 21, 240 );
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.footer1{
     
    font-size: 18px;
    text-align: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}